MTG-QBH/audio/*
songs_wav/*
*.DS_Store
1.wav
input/*
output/*
temp/*
songs_with_midi.pkl
queries_with_midi.pkl
testing.pkl
f0/temp/*.pickle
f0_queries/temp/*.pickle
queries_on_beat_melody.pkl
queries_with_f0.pkl
songs_with_f0.pkl
songs_with_on_beat_melody.pkl
.ipynb_checkpoints/*
.ipynb_checkpoints/sets_extractions-checkpoint.ipynb
.ipynb_checkpoints/embedding-checkpoint.ipynb
thesis/~$cument.docx
checkpoint/similarity_pitch_diff-multi_gram_5_10_set_hll_4.pkl
checkpoint/similarity_pitch_diff-multi_gram_5_10_set_hll_8.pkl
checkpoint/similarity_pitch_diff-multi_gram_5_10_set_hll_12.pkl
checkpoint/similarity_pitch_diff-multi_gram_5_10_set_hll_16.pkl
checkpoint/similarity_pitch_diff-ngram_5_set_hll_4.pkl
checkpoint/similarity_pitch_diff-ngram_5_set_hll_8.pkl
checkpoint/similarity_pitch_diff-ngram_5_set_hll_12.pkl
checkpoint/similarity_pitch_diff-ngram_5_set_hll_16.pkl
checkpoint/similarity_pitch_diff-ngram_8_set_hll_4.pkl
checkpoint/similarity_pitch_diff-ngram_8_set_hll_8.pkl
checkpoint/similarity_pitch_diff-ngram_8_set_hll_12.pkl
checkpoint/similarity_pitch_diff-ngram_8_set_hll_16.pkl
checkpoint/similarity_pitch_diff-ngram_10_set_hll_4.pkl
checkpoint/similarity_pitch_diff-ngram_10_set_hll_8.pkl
checkpoint/similarity_pitch_diff-ngram_10_set_hll_12.pkl
checkpoint/similarity_pitch_diff-ngram_10_set_hll_16.pkl
checkpoint/similarity_pitch_diff-ngram_12_set_hll_4.pkl
checkpoint/similarity_pitch_diff-ngram_12_set_hll_8.pkl
checkpoint/similarity_pitch_diff-ngram_12_set_hll_12.pkl
checkpoint/similarity_pitch_diff-ngram_12_set_hll_16.pkl
checkpoint/similarity_UpSameDown-multi_gram_5_10_set_hll_4.pkl
checkpoint/similarity_UpSameDown-multi_gram_5_10_set_hll_8.pkl
checkpoint/similarity_UpSameDown-multi_gram_5_10_set_hll_12.pkl
checkpoint/similarity_UpSameDown-ngram_5_set_hll_4.pkl
checkpoint/similarity_UpSameDown-ngram_5_set_hll_8.pkl
checkpoint/similarity_UpSameDown-ngram_5_set_hll_12.pkl
checkpoint/similarity_UpSameDown-ngram_5_set_hll_16.pkl
checkpoint/similarity_UpSameDown-ngram_8_set_hll_4.pkl
checkpoint/similarity_UpSameDown-ngram_8_set_hll_8.pkl
checkpoint/similarity_UpSameDown-ngram_8_set_hll_12.pkl
checkpoint/similarity_UpSameDown-ngram_8_set_hll_16.pkl
checkpoint/similarity_UpSameDown-ngram_10_set_hll_4.pkl
checkpoint/similarity_UpSameDown-ngram_10_set_hll_8.pkl
checkpoint/similarity_UpSameDown-ngram_10_set_hll_12.pkl
checkpoint/similarity_UpSameDown-ngram_10_set_hll_16.pkl
checkpoint/similarity_UpSameDown-ngram_12_set_hll_4.pkl
checkpoint/similarity_UpSameDown-ngram_12_set_hll_8.pkl
checkpoint/similarity_UpSameDown-ngram_12_set_hll_12.pkl
checkpoint/similarity_UpSameDown-ngram_12_set_hll_16.pkl
checkpoint/cross_hll_4_pitch_diff-ngram_5_set.pkl
checkpoint/cross_hll_8_pitch_diff-ngram_5_set.pkl
checkpoint/cross_hll_12_pitch_diff-ngram_5_set.pkl
checkpoint/cross_hll_16_pitch_diff-ngram_5_set.pkl
checkpoint/pitch_diff-multi_gram_5_10_set.pkl
checkpoint/pitch_diff-ngram_5_set.pkl
checkpoint/pitch_diff-ngram_8_set.pkl
checkpoint/pitch_diff-ngram_10_set.pkl
checkpoint/pitch_diff-ngram_12_set.pkl
checkpoint/UpSameDown-multi_gram_5_10_set.pkl
checkpoint/UpSameDown-ngram_5_set.pkl
checkpoint/UpSameDown-ngram_8_set.pkl
checkpoint/UpSameDown-ngram_10_set.pkl
checkpoint/UpSameDown-ngram_12_set.pkl
songs_set_hll.pkl
songs_sets.pkl
queries_set_hll.pkl
queries_sets.pkl
sets_extractions_old.ipynb.invalid
songs_clean_overlap_notes.pkl
thesis/~$aluating the Potential of Similarity Estimation Using Hyperloglog for Query by Humming Problem.docx
